html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.4s;
}

body {
    background-color: #121111;
    width: calc(100vw -3px);
    height: 100vh;
    max-width: 100%;
}

header {
    padding: 0px 60px;
    height: 60px;
    width: 100%;
    background-color: #030305;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 7px 38px -7px #000000;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.h-box-left {
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 0 .8rem 0 0;
    color: #ffffff;
}

.h-box-right {
    justify-content: center;
    align-items: center;
    
}

.btn {
    margin: 0 0 0 .8rem;
    padding: 0;
    background-color: rgba(255, 0, 0, 0);
    color: #ffffff;
    border-style: none;
}

.btn:hover {
    opacity: 80%;
    cursor: pointer;
}

.spc {
    color: white;
    padding: 7px 12px;
    border-radius: 5px;
    background-color: #3A17F3;
}

.spacer {
    color: #121111;
    margin: 500px 0px;
}

::-webkit-scrollbar {
    display: flex;
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #121111;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    opacity: 70%;
  }

.i-img-text {
    background: url("https://images.unsplash.com/photo-1534996858221-380b92700493?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80") no-repeat ;
    background-size: cover;
    width: 100%;
    height: 800px;
    align-items: center;
    justify-content: left;
    padding: 0 60px;
    display: flex;
    background-attachment: fixed;
    
}

.btn-main {
    color: white;
    padding: 7px 12px;
    font-size: 28px;
    background-color: #3c17f300;
    border: 2px solid #3A17F3;
    border-radius: 5px;

    margin-left: 550px;
}

.btn-main:hover {
    opacity: 80%;
    cursor: pointer;
}

.i-text {
    color: white;
    font-size: 100px;
    margin: 0;
}

.split {
    text-decoration: line-through;
    text-decoration-color: #3A17F3;
}

.i-sub-text {
    color: white;
    font-size: 20px;
    margin: 0;
}

.video-tst {
    border-radius: 5px;
    border-style: none;

}

.mid {
    margin: 0 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3A17F3;
    padding: 30px;
    border-radius: 5px;
    width: 250px;
    height: 300px;
}

.card-one:hover {
    box-shadow: 0px 0px 10px 0px #3A17F3;
    cursor: pointer;
}

.card-two {
    background-color: #3A17F3;
}

.card-three {
    background-color: #3A17F3;
}

.line {
    height: 2px;
    width: 100px;
    background: linear-gradient(90deg,#3A17F3, #3c17f300);
    line-height-step: initial;
}

.u {
    height: 150px;
    width: 2px;
    background: linear-gradient(180deg, #3c17f300, #ffffff);
    line-height-step: initial;
}

.x {
    background: linear-gradient(90deg, #3c17f300, #3A17F3);
}

.l {
    margin-top: 70px;
    margin-bottom: 100px;
}



.container {
    padding: 0 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container-txt {
    color: white;
    font-size: 35px;
    display: block;
    margin: 100px 0 20px 0;
    text-align: left;
}

.container-s-txt {
    color: white;
    text-align: justify;
}

.circle {
    font-size: 30px;
    margin-bottom: 30px;
    background-color: black;
    border-radius: 5px;
    padding: 12px;
    color: #3A17F3;
    
}

.main-txt-mid {
    color: white;
    font-size: 35px;
    display: block;
    margin: 100px 60px 0px;
    text-align: center;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 7px;
    text-decoration-color: #3A17F3;
}

.c-m-txt {
    color: black;
}

.c-s-txt {
    color: white;
    font-size: 15px;
    text-align: center;
}

.footer {

    padding: 50px 60px 20px;
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: white;
}

.footer-txt {
    color: white;
    font-size: 12px;
}

.scroll-out {
    border: 2px solid white;
    width: 25px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: top;
    
}

.scrollar {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: calc(100%/2);
    top: 600px;
}

.scroll-in {
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    animation: scroll 2s infinite;
}

@keyframes scroll {
    0% {opacity: 1}

    100% {opacity: 0; transform: translateY(46px)}
}

.photo-c {
    background: url("https://images.unsplash.com/photo-1642107555820-1b07668d4634?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80");
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.k {
    background: #a217f3;
    margin: 40px;
    width: 300px;
}

.k:hover {
    box-shadow: 0px 0px 10px 0px #a217f3;
}

.d {
    display: flex;
    flex-direction: row;
}

.photo-n {
    background: url("https://images.unsplash.com/photo-1641652321739-b2b175d15e22?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
